<div fxLayout="column">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Resume</span>
            <blockquote>
                <strong>
                    <p>IT career in development with 4 (four) years of experience on software development.
                    <p>I am adept to the geek culture, collaborative and I have great disposition to teamwork.</p>
                    <p>And I do coding activities with extreme pleasure.</p>
                </strong>
            </blockquote>
        </div>
    </div>

    <div fxLayout.gt-lg="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between">
        <div fxFlex="49%" class="card">
            <div class="card-content">
                <span class="card-title">Professional Experiences</span>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img class="circle" src="assets/venturus.svg">
                        <span class="title">
                            <strong>
                                Java Developer & Javascript Developer
                            </strong>
                        </span>
                        <div>
                            <p>Venturus <span class="cyan-text text-accent-4 right">Apr/2017 - Today</span></p>
                            <p>Acting in the development of a project with focus on the front-end improvement of a product in
                                the telecommunication area for a multinational company, using tecnologies like Angular 4,
                                Typescript 2.4, Jasmine, HTML5, CSS3, SASS.</p>
                        </div>
                    </li>
                    <li class="collection-item avatar">
                        <img class="circle" src="assets/logo-cpqd.svg">
                        <span class="title">
                            <strong>
                                Technical Java Developer
                            </strong>
                        </span>
                        <div>
                            <p>CPqD <span class="cyan-text text-accent-4 right">Aug/2014 - Apr/2017</span></p>
                            <p>Development of JEE software to billing and telecomunication area. I worked with frameworks like
                                Hibernate, Struts, Maven, jQuery and database Oracle and creation of webservices SOAP. Development
                                of dev tools like a code searcher using Apache Lucene and Groovy console to execute scripts
                                on remote environments.</p>
                        </div>
                    </li>
                    <li class="collection-item avatar">
                        <img class="circle" src="assets/logo-cpqd.svg">
                        <span class="title">
                            <strong>
                                Intern
                            </strong>
                        </span>
                        <div>
                            <p>CPqD <span class="cyan-text text-accent-4 right">Jan/2013 - Aug/2014</span></p>
                            <p>Development of JEE software.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Hide 2% space on screens less than large ones -->
        <div fxFlex="1%" fxHide.lt-lg></div>

        <div fxFlex="49%" fxLayout="column" fxLayoutAlign="space-between">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Academic Background</span>
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <img class="circle" src="assets/ifsp.svg">
                            <span class="title">
                                <strong>
                                    Systems Analisys and Development
                                    <span class="cyan-text text-accent-4 right">2015 - 2017</span>
                            </strong>
                            </span>
                            <p>Federal Institute of Education, Science and Technology of São Paulo - IFSP</p>
                        </li>
                        <li class="collection-item avatar">
                            <img class="circle" src="assets/unicamp.svg">
                            <span class="title">
                                <strong>
                                    IT Technician
                                    <span class="cyan-text text-accent-4 right">2010 - 2012</span>
                            </strong>
                            </span>
                            <p>Technical College of Limeira - UNICAMP</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <span class="card-title">Languages</span>
                    <ul class="collection">
                        <li class="collection-item">
                            Portuguese
                            <span class="cyan-text text-accent-4 right">
                                Native
                            </span>
                        </li>
                        <li class="collection-item">
                            English
                            <span class="cyan-text text-accent-4 right">
                                Advanced
                            </span>
                        </li>
                        <li class="collection-item">
                            Spanish
                            <span class="cyan-text text-accent-4 right">
                                Intermediate
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout.gt-lg="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between">
        <div fxFlex="49%" class="card">
            <div class="card-content">
                <span class="card-title">Notable Projects</span>
                <ul class="collection">
                    <li class="collection-item">
                        <strong>Hackathon Embrapa:</strong> <small>'Mobile application for the early diagnosis in plant leaves'</small>
                        <p>
                            Development of a social network to share pictures of anomalous leaves to perform early diagnosis of diseases,
                            with photo quality control. It was developed in Android (Java), with cloud storage (Firebase), Material
                            design and a forensic image analysis algorithm using OpenCV library.
                        </p>
                        <p>
                            <strong>Date:</strong> 11/19/2016 - <strong>Result:</strong> Champion
                        </p>
                        <p>
                            <strong>Number of teamworkers:</strong> 4
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div fxFlex="49%" class="card">
            <div class="card-content">
                <span class="card-title">Coding Skills</span>
                <ul class="collection">
                    <li class="collection-item">
                        Java
                        <div class="progress">
                            <div class="determinate black" style="width: 90%"></div>
                        </div>
                    </li>
                    <li class="collection-item">
                        SQL
                        <div class="progress">
                            <div class="determinate yellow" style="width: 85%"></div>
                        </div>
                    </li>
                    <li class="collection-item">
                        Angular 4
                        <div class="progress">
                            <div class="determinate red" style="width: 80%"></div>
                        </div>
                    </li>
                    <li class="collection-item">
                        HTML5
                        <div class="progress">
                            <div class="determinate blue" style="width: 80%"></div>
                        </div>
                    </li>
                    <li class="collection-item">
                        CSS3
                        <div class="progress">
                            <div class="determinate orange" style="width: 80%"></div>
                        </div>
                    </li>

                    <li class="collection-item">
                        Android
                        <div class="progress">
                            <div class="determinate green" style="width: 65%"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
