/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    app-root {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        background-color: #fafafa;
    }
}

