@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$primary-color: #7D2E2E;
$star-active: #ffc107;

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
