@page {
    margin: 0cm;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$primary-color: #f44336;
$star-active: #ffc107;

html {
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;

    main {
        flex: 1 1 100%;
        display: flex;
        flex-direction: row;
        background: white;
        page-break-inside: avoid;

        section {
            display: flex;
            flex-direction: column;
            padding: 0 2rem;
            
            &.left {
                flex: 1 1 40%;
                padding-right: 0;

                header {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 5rem 3rem;
                    flex: 0 0 auto;
                    background: $primary-color;
                    color: white;
                    clip-path: polygon(100% 0, 0 0, 0 95%, 25% 100%, 50% 95%, 75% 100%, 100% 95%);
    
                    img {
                        border-radius: 50%;
                        width: 15rem;
                        height: 15rem;
                    }
    
                    h1 {
                        font-size: 1.3em;
                        margin-bottom: 0;
                        padding-bottom: .5rem;
                        border-bottom: .1rem solid white;
                        text-transform: uppercase;
                    }
                    
                    h2 {
                        font-size: 1.3em;
                        margin-top: .5rem;
                        font-weight: 100;
                        text-transform: uppercase;
                    }
    
                    p {
                        text-align: justify;
                    }
                }
    
                .infos {
                    flex: 1 0 auto;
                    max-width: 100%;
                    padding: 2rem 0;
    
                    h2 {
                        width: 60%;
                        font-size: 1.2em;
                        color: $primary-color;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 0 auto;
                        padding: .5rem 0;
                        border-bottom: .2rem solid $primary-color;
                    }
    
                    ul {
                        display: grid;
                        justify-content: center;
                        list-style: none;
                        padding: 0;
                        margin: 1rem 0;
                        break-inside: avoid;
                        li {
                            margin: .5rem 0;

                            &.print {
                                display: none;
                            }

                            &.site {
                                display: block;
                            }

                            a {
                                display: flex;
                                text-decoration: none;
                                color: #0077B5;
    
                                span {
                                    display: flex;
                                    line-height: 3rem;
                                }
            
                                i {
                                    font-size: 3rem;
                                    margin: 0 1rem
                                }
                            }

                            small {
                                color: #999999;
                            }
                        }
                    }
                }
    
                footer {
                    flex: 0 0 12rem;
                    background: $primary-color;
                    clip-path: polygon(0 100%, 0 0, 25% 20%, 50% 0, 75% 20%, 100% 0, 100% 100%);
                }
            }

            &.right {
                flex: 1 1 60%;
                h2 {
                    font-size: 1.2em;
                    color: $primary-color;
                    text-transform: uppercase;
                    margin: 0;
                    margin-bottom: 1rem;
                    border-bottom: .2rem solid $primary-color;
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        display: flex;
                        margin-bottom: 2rem;

                        img {
                            flex: 0 0 4rem;
                            width: 4rem;
                            height: 4rem;
                            margin-right: 1rem;
                        }

                        label {
                            flex: 1 1 auto;
                            display: flex;
                            flex-direction: column;
                            b {
                                display: flex;
                                justify-content: space-between;
                                margin: 0;
            
                                .date {
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }

                .education {
                    display: flex;
                    justify-content: space-between;
                    flex: 1 1 auto;
                    margin-top: 2rem;

                    .date {
                        flex: 0 1 8rem;
                    }
                }

                .work-experiences {
                    flex: 1 0 auto;
                    display: flex;
                    flex-direction: column;

                    ul {
                        flex: 1 1 auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        company {
                            display: flex;
                            flex: 1 1 auto;
                            margin: 0 0 1rem 0;
                        }

                        description {
                            text-align: justify;
                        }
                    }
                }

                .skills {
                    display: flex;
                    flex: 1 1 100%;
                    max-width: 100%;
                    page-break-inside: avoid;
                    ul {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-auto-rows: 1fr;
                        li {
                            flex: 1 1 auto;
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 2rem;
                            
                            div {
                                flex: 1 1 auto;
                                display: inline-flex;
                                justify-content: flex-end;
                                i {
                                    color: $star-active;
                                    margin-left: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
