@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #7EC0EE;
  font-family: "Roboto", sans-serif;
}

.grama {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-color: #55AE3A;
}

.cereja {
  position: absolute;
  bottom: 120px;
  left: 40%;
  margin: auto;
  width: 160px;
  height: 300px;
  transition: 1.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cereja:hover {
  bottom: 190px;
}
.cereja:hover .fala {
  display: block;
}
.cereja:hover .boca.aberta {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 40.5%;
  background-color: #000000;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 30px;
  height: 30px;
  z-index: 2;
}
.cereja:hover .boca.aberta .lingua {
  position: absolute;
  bottom: 3px;
  left: 5px;
  width: 20px;
  height: 10px;
  border-radius: 20px;
  background-color: #f35367;
  border-radius: 50px;
}
.cereja:hover .corpo .meio .boca {
  display: none;
}
.cereja .fala {
  display: none;
  position: absolute;
  left: -10px;
  top: 0;
  background: #ffffff;
  border-radius: 0.4em;
  padding: 30px;
  font-size: 1.5em;
  z-index: 9999;
}
.cereja .fala::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}
.cereja .boca.aberta {
  display: none;
}
.cereja .cabo {
  position: absolute;
  bottom: 100px;
  left: 60%;
  width: 14px;
  height: 200px;
  -webkit-clip-path: polygon(0 0, 100% 0, 60% 100%, 40% 100%);
          clip-path: polygon(0 0, 100% 0, 60% 100%, 40% 100%);
  transform: rotateZ(14deg);
  background-color: #a94d3c;
}
.cereja .corpo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}
.cereja .corpo .direita {
  position: absolute;
  left: 37%;
  bottom: 15px;
  border-radius: 50px;
  background-color: #f35367;
  width: 100px;
  height: 100px;
}
.cereja .corpo .direita .olho {
  position: absolute;
  left: 40%;
  top: 35%;
  background-color: #000000;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  z-index: 1;
}
.cereja .corpo .direita .olho .brilho.pequeno {
  position: absolute;
  right: 60%;
  bottom: 20%;
  background-color: #ffffff;
  border-radius: 50px;
  width: 5px;
  height: 5px;
  z-index: 2;
}
.cereja .corpo .direita .olho .brilho.grande {
  position: absolute;
  left: 50%;
  top: 20%;
  background-color: #ffffff;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  z-index: 2;
}
.cereja .corpo .direita .bochecha {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 50px;
  background-color: #c22e43;
  -webkit-clip-path: ellipse(50% 50% at 50% 50%);
          clip-path: ellipse(50% 50% at 50% 50%);
  width: 20px;
  height: 10px;
  z-index: 20;
}
.cereja .corpo .meio {
  position: absolute;
  bottom: 12px;
  left: 20.7%;
  -webkit-clip-path: ellipse(50% 20% at 50% 79%);
          clip-path: ellipse(50% 20% at 50% 79%);
  background-color: #f35367;
  width: 100px;
  height: 50px;
  z-index: 1;
}
.cereja .corpo .meio .boca.esquerda {
  position: absolute;
  right: 48%;
  border-radius: 50px;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  width: 20px;
  height: 20px;
}
.cereja .corpo .meio .boca.direita {
  position: absolute;
  left: 48%;
  border-radius: 50px;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  width: 20px;
  height: 20px;
}
.cereja .corpo .esquerda {
  position: absolute;
  right: 37%;
  bottom: 15px;
  border-radius: 50px;
  background-color: #f35367;
  width: 100px;
  height: 100px;
}
.cereja .corpo .esquerda .olho {
  position: absolute;
  right: 40%;
  top: 35%;
  background-color: #000000;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  z-index: 1;
}
.cereja .corpo .esquerda .olho .brilho.pequeno {
  position: absolute;
  right: 60%;
  bottom: 20%;
  background-color: #ffffff;
  border-radius: 50px;
  width: 5px;
  height: 5px;
  z-index: 2;
}
.cereja .corpo .esquerda .olho .brilho.grande {
  position: absolute;
  left: 50%;
  top: 20%;
  background-color: #ffffff;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  z-index: 2;
}
.cereja .corpo .esquerda .bochecha {
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 50px;
  background-color: #c22e43;
  -webkit-clip-path: ellipse(50% 50% at 50% 50%);
          clip-path: ellipse(50% 50% at 50% 50%);
  width: 20px;
  height: 10px;
  z-index: 20;
}/*# sourceMappingURL=style.css.map */