<header>
  <app-header [title]="title"></app-header>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="page-footer teal accent-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">VNT Messenger</h5>
        <p class="grey-text text-lighten-4">A messenger application to talk with your colleagues.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="http://www.venturus.org.br">Venturus</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="http://comVenturus/">Intranet</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Made by Gabriel Viseli Barzagli
      <a class="grey-text text-lighten-4 right" href="https://github.com/gbarzagli">Github</a>
    </div>
  </div>
</footer>
