main {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;

    .row-full {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        app-chat {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
        }
    }
}

footer.page-footer {
  padding-top: 0;
}
